$color-primary: #3d84a8;
$color-primary-light: #46cdcf;
$color-primary-dark: #48466d;

$color-list-back-1:#0f0c29;
$color-list-back-2:#24243e;
$color-list-back-3:#302b63;

$color-to-do-1: #457fca;
$color-to-do-2: #5691c8;

$color-importand-1: #ffb347;
$color-importand-2: #ffcc33;

$color-urgent-1: #f85032;
$color-urgent-2: #e73827;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;


$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000;

// FONT SIZES
$default-font-size: 1.6rem;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;