.radio-box {
    &__options {
        opacity: 0;
        transition: all .3s;
    }

    &__option{
        &-radio {
            display: none;
        }
        display: inline;
        margin-right: 3rem;
    }
    
    &__label {
        font-size: $default-font-size;
        cursor: pointer;

        &-radio-button {
            margin-bottom: -.5rem;
            position: relative;
            height: 2.2rem;
            width: 2.2rem;
            border-radius: 50%;
            display: inline-block;
            margin-right: .5rem;

            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: '';
                display: block;
                height: .8rem;
                width: .8rem;
                border-radius: 50%;
                opacity: 0;
                transition: opacity .2s;
            }

            &--1 {
                border: 5px solid $color-urgent-1;
                &::after {
                    background-color: $color-urgent-2;
                }
            }
            &--2 {
                border: 5px solid $color-importand-1;
                &::after {
                    background-color: $color-importand-2;
                }
            }
            &--3 {
                border: 5px solid $color-to-do-1;
                &::after {
                    background-color: $color-to-do-2;
                }
            }
        }
    }

    &__option-radio:checked ~ &__label &__label-radio-button::after {
        opacity: 1;
    }

    &__list {
        list-style: none;
    }
}