.todo-list { 
    padding: 5rem;
    color: $color-secondary-light;
    background-color: $color-primary-dark;
    border-radius: 1rem;
    position: absolute;

    &__edit {
        opacity: 0;
        background-color: $color-primary;
        display: inline-block;
        padding: 1rem;
        margin-left: .4rem; 
        text-align: center;
        transition: all .3s;

        &-button {
            transform: translateY(-.6rem);
        }

        &-trash {
            color: $color-importand;
            font-size: 2rem;
            transition: all .3s;
            cursor: pointer;
            margin-right: 1rem;
            
            &:hover {
                color: $color-urgent;
            }
        }
    }

    &__item {
        list-style: none;
        text-align: center;
        font-size: 2rem;
        padding-left: .5rem;
        
        border-left: 2px solid $color-secondary-light;
        border-right: 2px solid $color-secondary-light;
        border-top: 2px solid $color-secondary-light;
        &:last-child {
            border-bottom: 2px solid $color-secondary-light;
        }

        &-text {
            display: inline-block;
            padding: 1rem;
        }

        &:hover .todo-list__edit {
            opacity: 1;
        }

        &--to-do {
            background-color: $color-primary-light;
        }

        &--importand {
            background-color: $color-importand;
        }

        &--urgent {
            background-color: $color-urgent;
        }
    }
}