.todo-list { 
    padding: 1rem;
    color: $color-grey-light-1;
    background: $color-list-back-1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $color-list-back-2, $color-list-back-3, $color-list-back-1);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $color-list-back-2, $color-list-back-3, $color-list-back-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 1rem;
    position: absolute;

    &__edit {
        opacity: 0;
        background-color: $color-primary-dark;
        padding: 1rem;
        float: right;
        text-align: center;
        transition: all .3s;

        &-button {
            transform: translateY(-.6rem);
        }

        &-trash {
            color: $color-importand-2;
            font-size: 2rem;
            transition: all .3s;
            cursor: pointer;
            
            &:hover {
                color: $color-urgent-2;
            }
        }
    }

    &__item {
        list-style: none;
        text-align: center;
        font-size: 2rem;
        
        border-left: 1px solid $color-grey-dark-2;
        border-right: 1px solid $color-grey-dark-2;
        border-top: 1px solid $color-grey-dark-2;
        &:last-child {
            border-bottom: 1px solid $color-grey-dark-2;
        }

        &-text {
            display: inline-block;
            padding: 1rem;
        }

        &:hover .todo-list__edit {
            opacity: 1;
        }

        &--to-do {
            background: $color-to-do-1;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, $color-to-do-2, $color-to-do-1);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, $color-to-do-2, $color-to-do-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


        }

        &--importand {
            background: $color-importand-1;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, $color-importand-2, $color-importand-1);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, $color-importand-2, $color-importand-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */            
        }

        &--urgent {
            background: $color-urgent-1;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, $color-urgent-2, $color-urgent-1);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, $color-urgent-2, $color-urgent-1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
        }
    }
}